<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home page</title>
    <meta content="" name="author" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/css/app.css" />
    <script src="./assets/js/app.js" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <img class="navbar-brand" src="./assets/img/Layer.png" alt="" />
        <ul class="navbar-nav mr-auto">
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="../index.html">
                    <span class="menu__subtitle">Home</span>
                </a>
            </li>
            <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="../message.html">
                    <span class="menu__subtitle">Contact with me</span>
                </a>
            </li>
            <li class="nav-item active d-flex align-items-center">
                <a class="nav-link" href="./blog1.html">
                    <span class="menu__subtitle">Blog</span>
                </a>
            </li>
        </ul>
    </nav>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">Second article</h2>
                    <p class="blog-post-meta">2023-11-17 by <a href="#">Admin</a></p>
                    <p>
                        Every web developer knows what Lorem Ipsum is. Despite its name, this text
                        has nothing to do with the inhabitants of bodies of water. Web designers use
                        it to insert into web pages for demonstrating the visual appearance of content,
                        checking fonts, paragraphs, indents, and so on.
                    </p>
                </div>
                <!-- /.blog-post -->

                <div class="blog-post">
                    <h2 class="blog-post-title">First article</h2>
                    <p class="blog-post-meta">2023-11-16 by <a href="#">Admin</a></p>

